services:
  notes:
    build:
      context: ./api
      dockerfile: ./apps/notes/Dockerfile
      target: development
    container_name: api-notes
    command: pnpm run start:dev notes
    ports:
      - "3001:3001"
    volumes:
      - ./api:/usr/src/app
    depends_on:
      - db

  auth:
    build:
      context: ./api
      dockerfile: ./apps/auth/Dockerfile
      target: development
    container_name: api-auth
    command: pnpm run start:dev auth
    ports:
      - "3002:3002"
    volumes:
      - ./api:/usr/src/app
    depends_on:
      - db

  db:
    image: mongo
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
