services:
  notes:
    build:
      context: ./api
      dockerfile: ./apps/notes/Dockerfile
      target: development
    container_name: api-notes
    command: pnpm run start:dev notes
    ports:
      - "3000:3000"
    volumes:
      - ./api:/usr/src/app
    depends_on:
      - db

  db:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
