MONGODB_URI='mongodb://db:27017/defenders'

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRATION=60        # 1 min

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=2592000   # 30 days

HTTP_PORT=3002
TCP_PORT=3003

CORS_ORIGINS=http://localhost:3000,http://web:3000

NOTIFICATIONS_HOST=notifications
NOTIFICATIONS_PORT=3004

NODE_ENV=development

BOOTSTRAP_ADMIN_EMAIL=
BOOTSTRAP_ADMIN_PASSWORD=Password123!
