MONGODB_URI='mongodb://db:27017/defenders'

PORT=3005
TCP_PORT=3006

AUTH_HOST=auth
AUTH_PORT=3003

MONOBANK_TOKEN=your_monobank_token_here
PUBLIC_URL=https://your-public-domain.com
FRONTEND_URL=http://web:3000
ISR_SECRET=your_isr_secret_here
